<!doctype html>
<html lang="pt-BR">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/css/style.css">

  <title>Foodfy</title>
</head>

<body>
  <div class="container" style="width: 940px;">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <a class="navbar-brand" href="#">Foodfy</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/views/sobre.html">Sobre<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/views/receitas.html">Receitas</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="jumbotron jumbotron-fluid mx-auto d-block mt-2">
      <div class="container media row px-0 mx-0">
        <div class="media-body mx-auto">
          <h2>As melhores receitas</h2>
          <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
          </p>
        </div>
        <img class="mx-auto" src="/assets/chef.png" alt="">
      </div>
    </div>

    <!-- <section class="container"> -->

    <h3 class="mt-5 mb-3">Mais acessadas</h3>

    <div class="card-deck mx-auto mx-0">
      <div class="card border-0 ">
        <img class="card-img-top" src="/assets/burger.png" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title m-0" style="width: 156px;">Triplo bacon burger</h5>
          <p class="card-text"><small class="text-muted">por Jorge Relato</small></p>
        </div>
      </div>
      <div class="card border-0 ">
        <img class="card-img-top" src="/assets/pizza.png" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title m-0" style="width: 136px;">Pizza 4 estações</h5>
          <p class="card-text"><small class="text-muted">por Fabiana Melo</small></p>
        </div>
      </div>
      <div class="card border-0 ">
        <img class="card-img-top" src="/assets/espaguete.png" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title m-0" style="width: 148px;">Espaguete ao alho</h5>
          <p class="card-text"><small class="text-muted">por Julia Kinoto</small></p>
        </div>
      </div>
    </div>
    <div class="card-deck mx-auto">
      <div class="card border-0 ">
        <img class="card-img-top" src="/assets/lasanha.png" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title m-0" style="width: 187px;">Lasanha mac n' cheese</h5>
          <p class="card-text"><small class="text-muted">por Juliano Vieira</small></p>
        </div>
      </div>
      <div class="card border-0 ">
        <img class="card-img-top" src="/assets/doce.png" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title m-0" style="width: 170px;">Docinhos pão-do-céu</h5>
          <p class="card-text"><small class="text-muted">por Ricardo Golvea</small></p>
        </div>
      </div>
      <div class="card border-0 ">
        <img class="card-img-top" src="/assets/espaguete.png" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title m-0" style="width: 249px;">Asinhas de frango ao barbecue</h5>
          <p class="card-text"><small class="text-muted">por Vania Steroski</small></p>
        </div>
      </div>
    </div>
  </div>

  <footer style="background-color: lightgray;" class="position-absolute mt-2 mx-0 container-fluid">
    <p class="text-muted text-center my-4">Todos os direitos reservados, receitas Foodfy</p>
  </footer>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="/node_modules/jquery/dist/jquery.js"></script>
  <script src="/node_modules/popper.js/dist/popper.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
</body>

</html>