<!DOCTYPE html>
<html lang="pt-br">

<head>
  <!-- Meta tags Obrigatórias -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <title>Olá, mundo!</title>
</head>

<body>
  <div class="container" style="width: 940px;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/views/index.html">Foodfy</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Sobre<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/views/receitas.html">Receitas</a>
          </li>
        </ul>
      </div>
    </nav>

    <h3 class="mt-4">Sobre o Foodfy</h3>
    <p>
      Sunt exercitation magna voluptate eu laboris exercitation non exercitation nulla exercitation duis. Ex ex esse
      tempor irure dolor duis amet. Nostrud in quis ullamco magna. Cupidatat ut fugiat aliqua voluptate ad deserunt esse
      cillum laborum reprehenderit proident. Sint ut cillum commodo duis.
      Sunt exercitation magna voluptate eu laboris exercitation non exercitation nulla exercitation duis. Ex ex esse
      tempor irure dolor duis amet. Nostrud in quis ullamco magna. Cupidatat ut fugiat aliqua voluptate ad deserunt esse
      cillum laborum reprehenderit proident. Sint ut cillum commodo duis.

      <br><br>
      Mollit ea qui culpa sunt excepteur irure laborum excepteur aliqua ut non ex non sint. Dolore aute aute aliquip
      magna veniam eu tempor est ipsum officia. Quis duis id eu nulla esse nisi eiusmod est in incididunt deserunt. Eu
      non sunt duis ea est cillum nostrud. Est amet sit proident duis nulla eu sunt sit nisi.
    </p>
    <br>

    <h3>Como tudo começou...</h3>
    <p>
      Mollit consequat duis exercitation officia velit cupidatat ullamco. Mollit officia est excepteur non laboris sit
      voluptate et proident fugiat ullamco deserunt pariatur. Consectetur sit dolore irure sint eu magna minim sunt anim
      ex ex amet adipisicing.

      Esse tempor culpa sunt minim est. Et elit commodo aute qui sint occaecat mollit. Nisi reprehenderit voluptate
      dolore nisi aliqua amet qui id anim aliqua dolore non. Sit Lorem aute Lorem non minim aliquip fugiat elit ea
      commodo excepteur pariatur. Tempor elit tempor esse ullamco quis nulla eiusmod aliqua nulla sint.

      Veniam sunt labore id magna tempor aliquip. Id irure non Lorem dolor anim consectetur dolore irure elit dolor
      officia. Do amet pariatur proident eiusmod laborum aute ea ad dolore deserunt fugiat anim commodo culpa. Est anim
      aliquip anim non ad.
      <br><br>
      Ea voluptate tempor anim Lorem reprehenderit ipsum duis in adipisicing fugiat Lorem. Do aliqua incididunt et id
      ullamco mollit ipsum laborum aute laboris laborum ad nulla et. Voluptate velit officia tempor elit sit consequat
      ut fugiat commodo ex. Consequat elit elit occaecat labore fugiat eiusmod sint irure magna esse quis consectetur
      ad. Velit aliqua nulla eu sint voluptate sint laborum nulla non sit nisi.

      Esse laborum enim dolor id reprehenderit nulla incididunt cupidatat consequat esse anim dolore qui esse. Sit sit
      aliqua occaecat quis dolore ut minim. Eiusmod veniam commodo reprehenderit ut Lorem proident ullamco laborum
      consequat sit sit. Cillum ad officia id non ea in magna.

      Officia consectetur culpa aute occaecat. In tempor culpa exercitation sint nisi qui exercitation est sit magna
      est. Deserunt cillum ullamco sit exercitation irure deserunt enim eiusmod dolore.
    </p>
    <br>

    <h3>Nossas receitas</h3>
    <p>
      Velit quis amet nisi laboris voluptate ut proident veniam. Nulla Lorem aliquip adipisicing mollit. Officia
      proident in anim quis aute occaecat nostrud dolor id aliqua incididunt. Amet qui ut veniam sunt laboris nisi.

      Duis labore labore ipsum nulla commodo dolor adipisicing quis anim. Et irure laborum aliqua non voluptate duis
      veniam. Proident ea ad ea enim tempor exercitation officia mollit. Incididunt magna duis dolore occaecat aute
      minim dolor. Aute veniam ea nostrud et dolor nulla proident amet. Aute exercitation aute dolore quis excepteur
      nisi deserunt aute. Occaecat nulla dolore quis amet exercitation nostrud ullamco.

      Sit aliquip culpa ut ut occaecat veniam officia. Nulla in ad culpa aliquip in veniam ea minim proident in culpa
      sit. Sit mollit exercitation et non mollit sit sit labore voluptate adipisicing officia. Excepteur anim cupidatat
      et laborum do adipisicing eu. Reprehenderit esse mollit ea laborum ex et. Incididunt occaecat commodo ipsum minim
      sit aliqua magna consectetur proident deserunt aliqua reprehenderit excepteur. Nostrud cillum eu consequat
      reprehenderit sint laboris commodo occaecat dolor do amet.
    </p>
  </div>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="/node_modules/jquery/dist/jquery.js"></script>
  <script src="/node_modules/popper.js/dist/popper.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
</body>

</html>