* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;  
}
body::after {
  content: "";
  position: fixed;
  background: #FBDFDB;
  top: 93px;
  z-index: -1;
  max-width: 100%;
  width: 940px;
  height: 366px;
  margin: 0 230px 0 230px;
  border-radius: 30px;
  background-image: url(/public/assets/chef.png);
  background-repeat: no-repeat;
  background-position: right 66px bottom;
  
;
  

}
body {
  background: white;
  -webkit-font-smoothing: antialiased;
}

header {
  display: flex;
  align-items: center;
}

header a {
  padding: 38px 30px 36px 0 ;
  text-decoration: none;
  font-size: 16px;
  width: 42px;
  height: 19px;
  color: #111111;
  letter-spacing: 0 19px;
  position: relative;
}

header p {
  padding: 0 122.4px 0 0;
  margin-left: 230px;
  font-family: Cochin;
  color: #111111;
  font-size: 25px;
  letter-spacing: 1.65px;
  width: 90.6px;
  height: 26.9px;
  position: relative;
}
.banner-text{
  justify-content: space-around;
  margin-left: 290px;
  padding-top: 117px;
  width: 305px;

}

p {
  width: 316px;
  font-size: 18px;
  padding-top: 10px;
  
}
h1 {
  font-size: 32px;
  width: 305px;
   
}
